.contenedor-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}